[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "wp-content/plugins/itg-cache-control-headers"]
	path = wp-content/plugins/itg-cache-control-headers
	url = git@github.com:IT-Service-WordPress/itg-cache-control-headers.git
[submodule "wp-content/mu-plugins/wpf-v1"]
	path = wp-content/mu-plugins/wpf-v1
	url = git@github.com:IT-Service-WordPress/WPF.git
[submodule "wp-content/themes/twentyfourteen"]
	path = wp-content/themes/twentyfourteen
	url = git@github.com:IT-Service-WordPress/twentyfourteen.git
[submodule "wp-content/plugins/akismet"]
	path = wp-content/plugins/akismet
	url = git@github.com:wp-plugins/akismet.git
[submodule "wp-content/plugins/wp-pagenavi"]
	path = wp-content/plugins/wp-pagenavi
	url = git@github.com:wp-plugins/wp-pagenavi.git
[submodule "wp-content/plugins/theme-check"]
	path = wp-content/plugins/theme-check
	url = git@github.com:wp-plugins/theme-check.git
