<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpProtocol allowKeepAlive="true">
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="Vary" value="Accept-Encoding" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<clear />
				<rule name="LowerCaseRule" enabled="false" stopProcessing="true">
					<match url="[A-Z]" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_URI}" pattern="^/wp-admin/.*" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/wp-content/.*" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/wp-includes/.*" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/images/.*" negate="true" />
					</conditions>
					<action type="Redirect" url="{ToLower:{URL}}" />
				</rule>
				<rule name="wordpress" enabled="true" patternSyntax="Wildcard">
					<match url="*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
			<outboundRules>
				<preConditions>
					<preCondition name="ResponseIsHtml">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<httpErrors>
		</httpErrors>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" /> 

			<remove fileExtension=".css" />
			<mimeMap fileExtension=".css" mimeType="text/css; charset=UNICODE-1-1-UTF-8" />
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="application/javascript; charset=UNICODE-1-1-UTF-8" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json; charset=UNICODE-1-1-UTF-8" />
		</staticContent>
		<caching enabled="true">
			<profiles>
				<add extension=".swf" policy="CacheForTimePeriod" duration="31.00:00:00" location="Downstream" />
				<add extension=".css" policy="CacheForTimePeriod" duration="7.00:00:00" varyByQueryString="ver" location="Downstream" />
				<add extension=".js" policy="CacheForTimePeriod" duration="7.00:00:00" varyByQueryString="ver" location="Downstream" />
				<add extension=".jpg" policy="CacheForTimePeriod" duration="31.00:00:00" location="Downstream" />
				<add extension=".gif" policy="CacheForTimePeriod" duration="31.00:00:00" location="Downstream" />
				<add extension=".png" policy="CacheForTimePeriod" duration="31.00:00:00" location="Downstream" />
				<add extension=".ico" policy="CacheForTimePeriod" duration="31.00:00:00" location="Downstream" />
			</profiles>
		</caching>
		<urlCompression doDynamicCompression="false" />
	</system.webServer>
</configuration>